#header .box_headmenu {
    position: sticky;
}

.main_banner {
    padding-top: 70px;
}

.list_news .news_item .img {
    height: 200px;
    position: relative;
}

.list_news .news_item .img img, .box_list-news .news_item .new_img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    position: absolute;
}

.box_list-news .news_item .new_img {
    height: 220px;
    position: relative;
}

.box_list-news .wrap_news-text .title {
    margin-bottom: 0;
    margin-top: 10px;
}

.other_news .list_item .img {
    height: 120px;
    position: relative;
}

.other_news .list_item .img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    position: absolute;
}

.scroll_contact ul li a, .croll-top a {
    /*background: #fd8515;*/
}



.scroll_contact .zalo img {
    width: 33px;
}

.scroll_contact li a {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.main_package .silder_package .slick-list{
    width: 100%;
}

.page_content .article_content * {
    margin: revert;
    padding: revert;
    font-size: revert;
    font: revert;
    vertical-align: revert;
}

.page_content .article_content .main_package * {
    margin: initial;
}

.main_package .fpt_category_shortcode_slider .slick-slide {
    margin: 0 12px;
}

.main_package .fpt_category_shortcode_slider .package_btn {
    padding: 0 24px 2px;
    margin-bottom: 20px;
}

.main_package .fpt_category_shortcode_slider .package_content ul {
      padding: 0;
}

.main_package .fpt_category_shortcode_slider .tooltip-text{
    padding: 11px 13px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.page_content .widget-toc {
    padding: 10px;
    width: 100%;
}

.page_content .show-toc-toggle-btn {
    font-size: 15px;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.main_package .package_item .package_content {
    height: auto;
    min-height: 400px;
}

.extend_package * {
    margin: revert;
    padding: revert;
    font-size: revert;
    font: revert;
    vertical-align: revert;
}

.extend_package .main_package * {
    margin: initial;
}

.extend_package *:not(.main_package):not(.main_package *) {
    padding: 0 15px;
}

.modify_content * {
    margin: revert;
    padding: revert;
    font-size: revert;
    font: revert;
    vertical-align: revert;
}

.modify_content .main_package * {
    margin: initial;
}

.modify_content *:not(.main_package):not(.main_package *) {
    padding: 0 15px;
}

.category_content {
    margin-bottom: 50px;
}

.main_category .breadcrumbs {
    font-size: 13px !important;
}

.need_item .filter-item {
    gap: 12px;
}

.box_product .img .product-img-frame{
    position: absolute;
    top: 0;
    left: 0;
}

.box_product .img .product-img-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.aml_pb-bottom-left.mobile {
    bottom: 75px !important;
}

.main_category .box_form {
    margin-bottom: 0;
    flex-wrap: nowrap;
}

.box_product .title h3 {
    font-weight: 700 !important;
}

img {
    max-width: 100%;
    height: auto;
}

.product_detail .breadcrumbs {
    font-size: 13px !important;
}

.box_product .product-attribute p {
    font-size: 14px !important;
}

.right_actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count_cart_items {
    background: #f0652b;
    color: white;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    padding: 2px 7px;
    left: 20px;
    top: -10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_icon {
    height: 70px;
    width: 36px;
    display: flex;
    align-items: center;
}

.cart_wrapper {
    padding-top: 75px;
}

.table,
.table-bordered {
    border: 1px solid #dee2e6; /* Viền bảng mặc định Bootstrap */
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6; /* Viền các ô */
    padding: 0.75rem; /* Khoảng cách trong ô */
}

.cart_wrapper h4 {
    font-size: 1.25rem; /* Kích thước chữ */
    font-weight: 600; /* Độ đậm */
    color: #333; /* Màu chữ */
    margin: 0.5rem 0; /* Khoảng cách trên dưới */
}

.cart_wrapper h5 {
    font-size: 1.25rem;
}

.box_form .full_form {
    max-width: 100%;
    flex-basis: initial;
    width: 100%;
}

@media screen and (min-width: 1500px) {
.extend_package {
    max-width: 1440px;
    width: 1440px;
    margin: auto;
}

.main_category .container, .category_content .container {
    max-width: 1268px;
    width: 1268px;
    margin: auto;
}
}


@media screen and (max-width: 768px) {
.page_news .container, .main_breadcrumb {
    max-width: fit-content;
}

.page_content .article_content img {
    width: 100% !important;
}

.main_package .package_item .price span.icon-info img {
    width: 23px !important;
}
}


@media screen and (max-width: 500px) {
.box_contact-scroll .scroll_contact .call, .box_contact-scroll .scroll_contact .cart, .box_contact-scroll .croll-top {
     display: block !important;
}
}

