#header .box_headmenu {
    position: sticky;
}

.main_banner {
    padding-top: 70px;
}

.list_news .news_item .img {
    height: 200px;
    position: relative;
}

.list_news .news_item .img img, .box_list-news .news_item .new_img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    position: absolute;
}

.box_list-news .news_item .new_img {
    height: 220px;
    position: relative;
}

.box_list-news .wrap_news-text .title {
    margin-bottom: 0;
    margin-top: 10px;
}

.other_news .list_item .img {
    height: 120px;
    position: relative;
}

.other_news .list_item .img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    position: absolute;
}

.scroll_contact ul li a, .croll-top a {
    /*background: #fd8515;*/
}



.scroll_contact .zalo img {
    width: 33px;
}

.scroll_contact li a {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.main_package .silder_package .slick-list{
    width: 100%;
}


@media screen and (max-width: 500px) {
    .box_contact-scroll .scroll_contact .call, .box_contact-scroll .scroll_contact .cart, .box_contact-scroll .croll-top {
         display: block !important;
    }
}

